<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>红警地图单位属性查看器</title>
    <link rel="stylesheet" href="./assets/plugin/element-plus/index.css" />
    <link rel="stylesheet" href="./assets/style/index.css">
    <script src="./assets/plugin/vue.global.prod.js"></script>
    <script src="./assets/plugin/encode.js"></script>
    <script src="./assets/plugin/element-plus/index.full.min.js"></script>
    <script src="./assets/script/ini.js"></script>
    <script src="./assets/script/config.js"></script>
    <script src="./assets/script/map.js"></script>
</head>

<body>
    <div class="el-loading-mask" id="loading">
        <div class="el-loading-spinner">
            <svg class="circular" viewBox="0 0 50 50">
                <circle class="path" cx="25" cy="25" r="20" fill="none"></circle>
            </svg>
        </div>
    </div>
    <div id="app" style="display: none;">
        <div style=" display: flex; justify-content: center; align-items: center; padding: 20px;">
            <el-tooltip class="box-item" effect="dark" content="选择一个地图文件, 可以标记出新增和修改过的单位" placement="bottom">
                <el-button type="success" @click="选择地图()">选择地图查看</el-button>
            </el-tooltip>
            <el-tooltip class="box-item" effect="dark" content="如果你有单独写好的功能, 可以使用这个按钮把它合并到当前地图里面" placement="bottom">
                <el-button type="success" @click="追加配置()">追加ini配置</el-button>
            </el-tooltip>
            <el-tooltip class="box-item" effect="dark"
                content="如果你自定义了某些单位的中文翻译, 可以使用这个按钮把csf.ini (必须是GBK或GB2312编码的文件, 地编转换的可以直接用) 加载进来, 这样就可以显示单位的中文名字了"
                placement="bottom">
                <el-button type="success" @click="追加中文翻译()">选择CSF.ini文件</el-button>
            </el-tooltip>
            <el-tooltip v-if="文件名 != ''" class="box-item" effect="dark"
                content="保存地图 (Ctrl + S) , 将直接覆盖打开的地图, 记得提前备份, 说不定一不小心就把地图搞坏了!" placement="bottom">
                <el-button type="success" @click="保存地图()">保存地图 [{{文件名}}]</el-button>
            </el-tooltip>
            <el-tooltip class="box-item" effect="dark"
                content="这个按钮可以用来生成盲盒, 原理是根据单位上的自定义属性[manghe]来生成指定数量的盲盒, 生成的盲盒会自动排好注册表, 只需要保存文件, 然后用include引入即可."
                placement="bottom">
                <el-button type="success" @click="打开盲盒生成器()">盲盒配置与生成</el-button>
            </el-tooltip>
        </div>
        <el-row>
            <el-col :span="8">
                <div class="grid-content">
                    <template v-for="(单位, 注册名) in 建筑列表">
                        <p @click="显示详情(单位, 注册名)" class="scrollbar-demo-item">
                            {{获取单位名字(单位)}}
                            [{{注册名}}]
                            <span v-if="单位.状态 != '未修改'" style="color: red; padding-left: 10px;"> {{单位.状态}}</span>
                        </p>
                    </template>
                </div>
            </el-col>
            <el-col :span="8">
                <div class="grid-content">
                    <template v-for="(单位, 注册名) in 士兵列表">
                        <p @click="显示详情(单位, 注册名)" class="scrollbar-demo-item">
                            {{获取单位名字(单位)}}
                            [{{注册名}}]
                            <span v-if="单位.状态 != '未修改'" style="color: red; padding-left: 10px;"> {{单位.状态}}</span>
                        </p>
                    </template>
                </div>

            </el-col>
            <el-col :span="8">
                <div class="grid-content">
                    <template v-for="(单位, 注册名) in 战车或飞机列表">
                        <p @click="显示详情(单位, 注册名)" class="scrollbar-demo-item">
                            {{获取单位名字(单位)}}
                            [{{注册名}}]
                            <span v-if="单位.状态 != '未修改'" style="color: red; padding-left: 10px;"> {{单位.状态}}</span>
                        </p>
                    </template>
                </div>

            </el-col>
        </el-row>
        <el-drawer v-model="打开单位详情页面" :title="选中的单位?.UIName2" :size="drawerSize">
            <el-tabs v-model="激活选项卡" type="card" class="tabs">
                <el-tab-pane label="单位属性" name="属性">
                    <el-descriptions title="单位属性" :column="1" border>
                        <el-descriptions-item label="操作">
                            <el-button type="success" @click="添加属性(选中的注册名)">添加属性</el-button>
                            <el-button type="success" v-if="建筑列表[选中的注册名]"
                                @click="打开复制单位对话框(选中的注册名, '建筑')">复制单位</el-button>
                            <el-button type="success" v-if="士兵列表[选中的注册名]"
                                @click="打开复制单位对话框(选中的注册名, '士兵')">复制单位</el-button>
                            <el-button type="success" v-if="战车或飞机列表[选中的注册名]"
                                @click="打开复制单位对话框(选中的注册名, '战车或飞机')">复制单位</el-button>
                            <el-button type="success" v-if="建筑列表[选中的注册名]" @click="打开建筑盲盒生成器(选中的注册名)">生成盲盒</el-button>
                            <el-button type="success" v-if="战车或飞机列表[选中的注册名]" @click="打开战车盲盒生成器(选中的注册名)">生成盲盒</el-button>
                            <template v-if="!士兵列表[选中的注册名]">
                                <el-button type="success" v-if="!选中的单位['manghe']"
                                    @click="加入盲盒生成器(选中的注册名)">加入盲盒生成器</el-button>
                                <el-button type="danger" v-if="选中的单位['manghe']"
                                    @click="从盲盒生成器中删除(选中的注册名)">从盲盒生成器中删除</el-button>
                            </template>

                        </el-descriptions-item>
                        <el-descriptions-item label="注册名">[{{选中的注册名}}]</el-descriptions-item>
                        <template v-for="(属性值, 属性名) in 要展示的数据">
                            <el-descriptions-item class-name="attr-item" v-if="typeof 属性值 == 'string'" :label="属性名">
                                <template #label>
                                    <div class="cell-item">
                                        <el-tooltip class="box-item" effect="dark" raw-content :content="翻译属性(属性名)"
                                            placement="bottom">
                                            {{属性名}}
                                        </el-tooltip>
                                    </div>
                                </template>
                                <span>{{属性值}}</span>
                                <span v-if="获取属性状态(选中的注册名, 属性名) == '新增'" style=" color: red">[新增]</span>
                                <span v-if="获取属性状态(选中的注册名, 属性名) == '已修改'" style=" color: red">
                                    [原始值: {{rules[选中的注册名][属性名]}}]</span>
                                <el-button class="btn-edit" type="text" @click="编辑属性(选中的注册名, 属性名, 属性值)">修改</el-button>
                            </el-descriptions-item>
                        </template>

                    </el-descriptions>
                </el-tab-pane>
                <el-tab-pane label="武器" name="武器" v-if="要展示的数据.Primary">
                    <el-descriptions :title="'主要武器 [' + 要展示的数据.Primary + ']'" :column="1" border>
                        <el-descriptions-item label="操作">
                            <el-button type="success" @click="添加属性(要展示的数据.Primary)">添加属性</el-button>
                        </el-descriptions-item>
                        <template v-for="(属性值, 属性名) in 要展示的数据.Primary2">
                            <el-descriptions-item class-name="attr-item" v-if="typeof 属性值 == 'string'" :label="属性名">
                                <template #label>
                                    <div class="cell-item">
                                        <el-tooltip class="box-item" effect="dark" raw-content :content="翻译属性(属性名)"
                                            placement="bottom">
                                            {{属性名}}
                                        </el-tooltip>
                                    </div>
                                </template>
                                {{属性值}}
                                <span v-if="获取属性状态(要展示的数据.Primary, 属性名) == '新增'" style=" color: red">
                                    [新增]</span>
                                <span v-if="获取属性状态(要展示的数据.Primary, 属性名) == '已修改'" style=" color: red">
                                    [原始值: {{rules[要展示的数据.Primary][属性名]}}]</span>
                                <el-button class="btn-edit" type="text"
                                    @click="编辑属性(要展示的数据.Primary, 属性名, 属性值)">修改</el-button>
                            </el-descriptions-item>
                        </template>
                    </el-descriptions>

                    <el-descriptions v-if="要展示的数据.ElitePrimary" :title="'三星后主武器 ['+要展示的数据.ElitePrimary+']'" :column="1"
                        border style="margin-top: 30px;">
                        <el-descriptions-item label="操作">
                            <el-button type="success" @click="添加属性(要展示的数据.ElitePrimary)">添加属性</el-button>
                        </el-descriptions-item>
                        <template v-for="(属性值, 属性名) in 要展示的数据.ElitePrimary2">
                            <el-descriptions-item class-name="attr-item" v-if="typeof 属性值 == 'string'" :label="属性名">
                                <template #label>
                                    <div class="cell-item">
                                        <el-tooltip class="box-item" effect="dark" raw-content :content="翻译属性(属性名)"
                                            placement="bottom">
                                            {{属性名}}
                                        </el-tooltip>
                                    </div>
                                </template>
                                {{属性值}}
                                <span v-if="获取属性状态(要展示的数据.ElitePrimary, 属性名) == '新增'" style=" color: red">
                                    [新增]</span>
                                <span v-if="获取属性状态(要展示的数据.ElitePrimary, 属性名) == '已修改'" style=" color: red">
                                    [原始值: {{rules[要展示的数据.ElitePrimary][属性名]}}]</span>
                                <el-button class="btn-edit" type="text"
                                    @click="编辑属性(要展示的数据.ElitePrimary, 属性名, 属性值)">修改</el-button>
                            </el-descriptions-item>
                        </template>
                    </el-descriptions>

                    <el-descriptions v-if="要展示的数据.Secondary" :title="'第二武器 ['+要展示的数据.Secondary+']'" :column="1" border
                        style="margin-top: 30px;">
                        <el-descriptions-item label="操作">
                            <el-button type="success" @click="添加属性(要展示的数据.Secondary)">添加属性</el-button>
                        </el-descriptions-item>
                        <template v-for="(属性值, 属性名) in 要展示的数据.Secondary2">
                            <el-descriptions-item class-name="attr-item" v-if="typeof 属性值 == 'string'" :label="属性名">
                                <template #label>
                                    <div class="cell-item">
                                        <el-tooltip class="box-item" effect="dark" raw-content :content="翻译属性(属性名)"
                                            placement="bottom">
                                            {{属性名}}
                                        </el-tooltip>
                                    </div>
                                </template>
                                {{属性值}}
                                <span v-if="获取属性状态(要展示的数据.Secondary, 属性名) == '新增'" style=" color: red">
                                    [新增]</span>
                                <span v-if="获取属性状态(要展示的数据.Secondary, 属性名) == '已修改'" style=" color: red">
                                    [原始值: {{rules[要展示的数据.Secondary][属性名]}}]</span>
                                <el-button class="btn-edit" type="text"
                                    @click="编辑属性(要展示的数据.Secondary, 属性名, 属性值)">修改</el-button>
                            </el-descriptions-item>
                        </template>
                    </el-descriptions>
                    <el-descriptions v-if="要展示的数据.EliteSecondary" :title="'三星后的第二武器 ['+要展示的数据.EliteSecondary+']'"
                        :column="1" border style="margin-top: 30px;">
                        <el-descriptions-item label="操作">
                            <el-button type="success" @click="添加属性(要展示的数据.EliteSecondary)">添加属性</el-button>
                        </el-descriptions-item>
                        <template v-for="(属性值, 属性名) in 要展示的数据.EliteSecondary2">
                            <el-descriptions-item class-name="attr-item" v-if="typeof 属性值 == 'string'" :label="属性名">
                                <template #label>
                                    <div class="cell-item">
                                        <el-tooltip class="box-item" effect="dark" raw-content :content="翻译属性(属性名)"
                                            placement="bottom">
                                            {{属性名}}
                                        </el-tooltip>
                                    </div>
                                </template>
                                {{属性值}}
                                <span v-if="获取属性状态(要展示的数据.EliteSecondary, 属性名) == '新增'" style=" color: red">
                                    [新增]</span>
                                <span v-if="获取属性状态(要展示的数据.EliteSecondary, 属性名) == '已修改'" style=" color: red">
                                    [原始值: {{rules[要展示的数据.EliteSecondary][属性名]}}]</span>
                                <el-button class="btn-edit" type="text"
                                    @click="编辑属性(要展示的数据.EliteSecondary, 属性名, 属性值)">修改</el-button>
                            </el-descriptions-item>
                        </template>
                    </el-descriptions>
                </el-tab-pane>
                <el-tab-pane label="弹头" name="弹头" v-if="要展示的数据.Primary">
                    <el-descriptions v-if="要展示的数据.Primary2" :title="'主要武器的弹头 ['+要展示的数据.Primary2.Warhead+']'" :column="1"
                        border v-if="要展示的数据.Primary">
                        <el-descriptions-item label="操作">
                            <el-button type="success" @click="添加属性(要展示的数据.Primary2.Warhead)">添加属性</el-button>
                        </el-descriptions-item>
                        <template v-for="(属性值, 属性名) in 要展示的数据.Primary2.Warhead2">
                            <el-descriptions-item class-name="attr-item" v-if="typeof 属性值 == 'string'" :label="属性名">
                                <template #label>
                                    <div class="cell-item">
                                        <el-tooltip class="box-item" effect="dark" raw-content :content="翻译属性(属性名)"
                                            placement="bottom">
                                            {{属性名}}
                                        </el-tooltip>
                                    </div>
                                </template>
                                {{属性值}}
                                <span v-if="获取属性状态(要展示的数据.Primary2.Warhead, 属性名) == '新增'" style=" color: red">
                                    [新增]</span>
                                <span v-if="获取属性状态(要展示的数据.Primary2.Warhead, 属性名) == '已修改'" style=" color: red">
                                    [原始值: {{rules[要展示的数据.Primary2.Warhead][属性名]}}]</span>
                                <el-button class="btn-edit" type="text"
                                    @click="编辑属性(要展示的数据.Primary2.Warhead, 属性名, 属性值)">修改</el-button>
                            </el-descriptions-item>
                        </template>
                    </el-descriptions>
                    <el-descriptions :title="'三星后主武器的弹头 ['+要展示的数据.ElitePrimary2.Warhead+']'" :column="1" border
                        v-if="要展示的数据.ElitePrimary" style="margin-top: 30px;">
                        <el-descriptions-item label="操作">
                            <el-button type="success" @click="添加属性(要展示的数据.ElitePrimary2.Warhead)">添加属性</el-button>
                        </el-descriptions-item>
                        <template v-for="(属性值, 属性名) in 要展示的数据.ElitePrimary2.Warhead2">
                            <el-descriptions-item class-name="attr-item" v-if="typeof 属性值 == 'string'" :label="属性名">
                                <template #label>
                                    <div class="cell-item">
                                        <el-tooltip class="box-item" effect="dark" raw-content :content="翻译属性(属性名)"
                                            placement="bottom">
                                            {{属性名}}
                                        </el-tooltip>
                                    </div>
                                </template>
                                {{属性值}}
                                <span v-if="获取属性状态(要展示的数据.ElitePrimary2.Warhead, 属性名) == '新增'" style=" color: red">
                                    [新增]</span>
                                <span v-if="获取属性状态(要展示的数据.ElitePrimary2.Warhead, 属性名) == '已修改'" style=" color: red">
                                    [原始值: {{rules[要展示的数据.ElitePrimary2.Warhead][属性名]}}]</span>
                                <el-button class="btn-edit" type="text"
                                    @click="编辑属性(要展示的数据.ElitePrimary2.Warhead, 属性名, 属性值)">修改</el-button>
                            </el-descriptions-item>
                        </template>
                    </el-descriptions>

                    <el-descriptions :title="'第二武器的弹头 ['+要展示的数据.Secondary2.Warhead+']'" :column="1" border
                        v-if="要展示的数据.Secondary" style="margin-top: 30px;">
                        <el-descriptions-item label="操作">
                            <el-button type="success" @click="添加属性(要展示的数据.Secondary2.Warhead)">添加属性</el-button>
                        </el-descriptions-item>
                        <template v-for="(属性值, 属性名) in 要展示的数据.Secondary2.Warhead2">
                            <el-descriptions-item class-name="attr-item" v-if="typeof 属性值 == 'string'" :label="属性名">
                                <template #label>
                                    <div class="cell-item">
                                        <el-tooltip class="box-item" effect="dark" raw-content :content="翻译属性(属性名)"
                                            placement="bottom">
                                            {{属性名}}
                                        </el-tooltip>
                                    </div>
                                </template>
                                {{属性值}}
                                <span v-if="获取属性状态(要展示的数据.Secondary2.Warhead, 属性名) == '新增'" style=" color: red">
                                    [新增]</span>
                                <span v-if="获取属性状态(要展示的数据.Secondary2.Warhead, 属性名) == '已修改'" style=" color: red">
                                    [原始值: {{rules[要展示的数据.Secondary2.Warhead][属性名]}}]</span>
                                <el-button class="btn-edit" type="text"
                                    @click="编辑属性(要展示的数据.Secondary2.Warhead, 属性名, 属性值)">修改</el-button>
                            </el-descriptions-item>
                        </template>
                    </el-descriptions>
                    <el-descriptions :title="'三星后第二武器的弹头 ['+要展示的数据.EliteSecondary2.Warhead+']'" :column="1" border
                        v-if="要展示的数据.EliteSecondary" style="margin-top: 30px;">
                        <el-descriptions-item label="操作">
                            <el-button type="success" @click="添加属性(要展示的数据.EliteSecondary2.Warhead)">添加属性</el-button>
                        </el-descriptions-item>
                        <template v-for="(属性值, 属性名) in 要展示的数据.EliteSecondary2.Warhead2">
                            <el-descriptions-item class-name="attr-item" v-if="typeof 属性值 == 'string'" :label="属性名">
                                <template #label>
                                    <div class="cell-item">
                                        <el-tooltip class="box-item" effect="dark" raw-content :content="翻译属性(属性名)"
                                            placement="bottom">
                                            {{属性名}}
                                        </el-tooltip>
                                    </div>
                                </template>
                                {{属性值}}
                                <span v-if="获取属性状态(要展示的数据.EliteSecondary2.Warhead, 属性名) == '新增'" style=" color: red">
                                    [新增]</span>
                                <span v-if="获取属性状态(要展示的数据.EliteSecondary2.Warhead, 属性名) == '已修改'" style=" color: red">
                                    [原始值: {{rules[要展示的数据.EliteSecondary2.Warhead][属性名]}}]</span>
                                <el-button class="btn-edit" type="text"
                                    @click="编辑属性(要展示的数据.EliteSecondary2.Warhead, 属性名, 属性值)">修改</el-button>
                            </el-descriptions-item>
                        </template>
                    </el-descriptions>
                </el-tab-pane>
                <el-tab-pane label="抛射体" name="抛射体" v-if="要展示的数据.Primary">
                    <el-descriptions :title="'主要武器的抛射体 ['+要展示的数据.Primary2.Projectile+']'" :column="1" border
                        v-if="要展示的数据.Primary">
                        <el-descriptions-item label="操作">
                            <el-button type="success" @click="添加属性(要展示的数据.Primary2.Projectile)">添加属性</el-button>
                        </el-descriptions-item>
                        <template v-for="(属性值, 属性名) in 要展示的数据.Primary2.Projectile2">
                            <el-descriptions-item class-name="attr-item" v-if="typeof 属性值 == 'string'" :label="属性名">
                                <template #label>
                                    <div class="cell-item">
                                        <el-tooltip class="box-item" effect="dark" raw-content :content="翻译属性(属性名)"
                                            placement="bottom">
                                            {{属性名}}
                                        </el-tooltip>
                                    </div>
                                </template>
                                {{属性值}}
                                <span v-if="获取属性状态(要展示的数据.Primary2.Projectile, 属性名) == '新增'" style=" color: red">
                                    [新增]</span>
                                <span v-if="获取属性状态(要展示的数据.Primary2.Projectile, 属性名) == '已修改'" style=" color: red">
                                    [原始值: {{rules[要展示的数据.Primary2.Projectile][属性名]}}]</span>
                                <el-button class="btn-edit" type="text"
                                    @click="编辑属性(要展示的数据.Primary2.Projectile, 属性名, 属性值)">修改</el-button>
                            </el-descriptions-item>
                        </template>
                    </el-descriptions>
                    <el-descriptions :title="'三星后主武器的抛射体 ['+要展示的数据.ElitePrimary2.Projectile+']'" :column="1" border
                        v-if="要展示的数据.ElitePrimary" style="margin-top: 30px;">
                        <el-descriptions-item label="操作">
                            <el-button type="success" @click="添加属性(要展示的数据.ElitePrimary2.Projectile)">添加属性</el-button>
                        </el-descriptions-item>
                        <template v-for="(属性值, 属性名) in 要展示的数据.ElitePrimary2.Projectile2">
                            <el-descriptions-item class-name="attr-item" v-if="typeof 属性值 == 'string'" :label="属性名">
                                <template #label>
                                    <div class="cell-item">
                                        <el-tooltip class="box-item" effect="dark" raw-content :content="翻译属性(属性名)"
                                            placement="bottom">
                                            {{属性名}}
                                        </el-tooltip>
                                    </div>
                                </template>
                                {{属性值}}
                                <span v-if="获取属性状态(要展示的数据.ElitePrimary2.Projectile, 属性名) == '新增'" style=" color: red">
                                    [新增]</span>
                                <span v-if="获取属性状态(要展示的数据.ElitePrimary2.Projectile, 属性名) == '已修改'" style=" color: red">
                                    [原始值: {{rules[要展示的数据.ElitePrimary2.Projectile][属性名]}}]</span>
                                <el-button class="btn-edit" type="text"
                                    @click="编辑属性(要展示的数据.ElitePrimary2.Projectile, 属性名, 属性值)">修改</el-button>
                            </el-descriptions-item>
                        </template>
                    </el-descriptions>

                    <el-descriptions :title="'第二武器的抛射体 ['+要展示的数据.Secondary2.Projectile+']'" :column="1" border
                        v-if="要展示的数据.Secondary" style="margin-top: 30px;">
                        <el-descriptions-item label="操作">
                            <el-button type="success" @click="添加属性(要展示的数据.Secondary2.Projectile)">添加属性</el-button>
                        </el-descriptions-item>
                        <template v-for="(属性值, 属性名) in 要展示的数据.Secondary2.Projectile2">
                            <el-descriptions-item class-name="attr-item" v-if="typeof 属性值 == 'string'" :label="属性名">
                                <template #label>
                                    <div class="cell-item">
                                        <el-tooltip class="box-item" effect="dark" raw-content :content="翻译属性(属性名)"
                                            placement="bottom">
                                            {{属性名}}
                                        </el-tooltip>
                                    </div>
                                </template>
                                {{属性值}}
                                <span v-if="获取属性状态(要展示的数据.Secondary2.Projectile, 属性名) == '新增'" style=" color: red">
                                    [新增]</span>
                                <span v-if="获取属性状态(要展示的数据.Secondary2.Projectile, 属性名) == '已修改'" style=" color: red">
                                    [原始值: {{rules[要展示的数据.Secondary2.Projectile][属性名]}}]</span>
                                <el-button class="btn-edit" type="text"
                                    @click="编辑属性(要展示的数据.Secondary2.Projectile, 属性名, 属性值)">修改</el-button>
                            </el-descriptions-item>
                        </template>
                    </el-descriptions>
                    <el-descriptions :title="'三星后第二武器的抛射体 ['+要展示的数据.EliteSecondary2.Projectile+']'" :column="1" border
                        v-if="要展示的数据.EliteSecondary" style="margin-top: 30px;">
                        <el-descriptions-item label="操作">
                            <el-button type="success" @click="添加属性(要展示的数据.EliteSecondary2.Projectile)">添加属性</el-button>
                        </el-descriptions-item>
                        <template v-for="(属性值, 属性名) in 要展示的数据.EliteSecondary2.Projectile2">
                            <el-descriptions-item class-name="attr-item" v-if="typeof 属性值 == 'string'" :label="属性名">
                                <template #label>
                                    <div class="cell-item">
                                        <el-tooltip class="box-item" effect="dark" raw-content :content="翻译属性(属性名)"
                                            placement="bottom">
                                            {{属性名}}
                                        </el-tooltip>
                                    </div>
                                </template>
                                {{属性值}}
                                <span v-if="获取属性状态(要展示的数据.EliteSecondary2.Projectile, 属性名) == '新增'" style=" color: red">
                                    [新增]</span>
                                <span v-if="获取属性状态(要展示的数据.EliteSecondary2.Projectile, 属性名) == '已修改'"
                                    style=" color: red">
                                    [原始值: {{rules[要展示的数据.EliteSecondary2.Projectile][属性名]}}]</span>
                                <el-button class="btn-edit" type="text"
                                    @click="编辑属性(要展示的数据.EliteSecondary2.Projectile, 属性名, 属性值)">修改</el-button>
                            </el-descriptions-item>
                        </template>
                    </el-descriptions>

                </el-tab-pane>
            </el-tabs>
        </el-drawer>
        <el-dialog v-model="编辑属性对话框" :title="'编辑属性 ['+要编辑的单位.注册名+']'" width="500">
            <el-form @submit.native.prevent="保存属性(要编辑的单位);">
                <el-form-item :label="要编辑的单位.属性名 + ' = '" :label-width="formLabelWidth">
                    <el-autocomplete v-model="要编辑的单位.属性值" :fetch-suggestions="搜索属性值" clearable
                        class="inline-input el-form-item__content">
                        <template #default="{ item }">
                            <div class="value">{{ item.value }} <span class="zh">{{ item.zh }}</span></div>

                        </template>
                    </el-autocomplete>

                </el-form-item>
            </el-form>
            <template #footer>
                <div class="dialog-footer">
                    <el-button @click="删除属性(要编辑的单位.注册名, 要编辑的单位.属性名)" type="danger">删除</el-button>
                    <el-button @click="编辑属性对话框 = false">取消</el-button>
                    <el-button type="primary" @click="保存属性(要编辑的单位)">
                        确定
                    </el-button>
                </div>
            </template>
        </el-dialog>
        <el-dialog v-model="添加属性对话框" :title="'添加属性 ['+要添加的属性.注册名+']'" width="500">
            <el-form @submit.native.prevent="保存添加的属性(要添加的属性);">
                <el-form-item label="属性名" :label-width="formLabelWidth">
                    <el-autocomplete v-model="要添加的属性.属性名" :fetch-suggestions="搜索属性名" clearable
                        class="inline-input el-form-item__content">
                        <template #default="{ item }">
                            <div class="value">{{ item.value }} <span class="zh">{{ item.zh }}</span></div>

                        </template>
                    </el-autocomplete>
                </el-form-item>
                <el-form-item label="属性值" :label-width="formLabelWidth">
                    <el-autocomplete v-model="要添加的属性.属性值" :fetch-suggestions="搜索属性值" clearable
                        class="inline-input el-form-item__content">
                        <template #default="{ item }">
                            <div class="value">{{ item.value }} <span class="zh">{{ item.zh }}</span></div>

                        </template>
                    </el-autocomplete>
                </el-form-item>
            </el-form>
            <template #footer>
                <div class="dialog-footer">
                    <el-button @click="添加属性对话框 = false">取消</el-button>
                    <el-button type="primary" @click="保存添加的属性(要添加的属性)">
                        确定
                    </el-button>
                </div>
            </template>
        </el-dialog>

        <el-dialog v-model="复制单位对话框" :title="'复制单位 ['+复制单位的数据.选中的注册名+']' + 获取单位名字(复制单位的数据.选中的注册名)" width="500">
            <el-form @submit.native.prevent="复制单位();">
                <el-form-item label="新注册名">
                    <el-input v-model="复制单位的数据.新注册名" autocomplete="off" />
                </el-form-item>
                <el-form-item label="新的编号">
                    <el-input v-model="复制单位的数据.编号" autocomplete="off" />
                </el-form-item>
            </el-form>
            <template #footer>
                <div class="dialog-footer">
                    <el-button @click="复制单位对话框 = false">取消</el-button>
                    <el-button type="primary" @click="复制单位()">复制</el-button>
                </div>
            </template>
        </el-dialog>

        <el-dialog v-model="生成建筑盲盒对话框" :title="'给 [' + 获取单位名字(生成建筑盲盒的数据.注册名) + '] 生成盲盒'" width="500">
            <el-form :model="生成建筑盲盒的数据">
                <el-form-item label="生成数量">
                    <el-input v-model="生成建筑盲盒的数据.生成数量" autocomplete="off" />
                </el-form-item>
                <el-form-item label="开始编号">
                    <el-input v-model="生成建筑盲盒的数据.开始编号" autocomplete="off" />
                </el-form-item>
                <el-form-item label="模板设置">
                    <el-input v-model="生成建筑盲盒的数据.模板" :autosize="{ minRows: 3, maxRows: 5 }" type="textarea"
                        placeholder="" />
                </el-form-item>
                <el-form-item label="生成结果">
                    <el-input v-model="生成建筑盲盒的数据.生成结果" :autosize="{ minRows: 3, maxRows: 5 }" type="textarea"
                        placeholder="" />
                </el-form-item>

            </el-form>
            <template #footer>
                <div class="dialog-footer">
                    <el-button @click="生成建筑盲盒对话框 = false">取消</el-button>
                    <el-button type="primary" @click="根据参数生成建筑盲盒数据()">
                        生成
                    </el-button>
                    <!-- <el-button type="danger" @click="生成建筑盲盒对话框 = false">
                        插入当前地图
                    </el-button> -->
                    <el-button type="danger" @click="将文本保存成本地文件(生成建筑盲盒的数据.生成结果, 生成建筑盲盒的数据.注册名 + '.manghe.ini')">
                        将结果另存为独立文件
                    </el-button>
                </div>
            </template>
        </el-dialog>

        <el-dialog v-model="生成战车盲盒对话框" :title="'给 [' + 获取单位名字(生成战车盲盒的数据.注册名) + '] 生成盲盒'" width="500">
            <el-form :model="生成战车盲盒的数据">
                <el-form-item label="生成数量">
                    <el-input v-model="生成战车盲盒的数据.生成数量" autocomplete="off" />
                </el-form-item>
                <el-form-item label="开始编号">
                    <el-input v-model="生成战车盲盒的数据.开始编号" autocomplete="off" />
                </el-form-item>
                <el-form-item label="生成结果">
                    <el-input v-model="生成战车盲盒的数据.生成结果" :autosize="{ minRows: 5, maxRows: 15 }" type="textarea"
                        placeholder="" />
                </el-form-item>

            </el-form>
            <template #footer>
                <div class="dialog-footer">
                    <el-button @click="生成战车盲盒对话框 = false">取消</el-button>
                    <el-button type="primary" @click="根据参数生成战车盲盒数据()">
                        生成
                    </el-button>
                    <!-- <el-button type="danger" @click="生成战车盲盒对话框 = false">
                        插入当前地图
                    </el-button> -->
                    <el-button type="danger" @click="将文本保存成本地文件(生成战车盲盒的数据.生成结果, 生成战车盲盒的数据.注册名 + '.manghe.ini')">
                        将结果另存为独立文件
                    </el-button>
                </div>
            </template>
        </el-dialog>

        <el-dialog v-model="盲盒生成器对话框" title="盲盒生成器" width="600">
            <el-form :model="盲盒生成器的数据">
                <el-form-item label="开始编号">
                    <el-input v-model="盲盒生成器的数据.开始编号" autocomplete="off" />
                </el-form-item>
                <el-form-item label="单位配置">
                    <el-input v-model="盲盒生成器的数据.已有配置" :autosize="{ minRows: 3, maxRows: 5 }" type="textarea"
                        placeholder="" />
                </el-form-item>
                <el-form-item label="模板设置">
                    <el-input v-model="盲盒生成器的数据.模板" :autosize="{ minRows: 3, maxRows: 5 }" type="textarea"
                        placeholder="" />
                </el-form-item>
                <el-form-item label="生成结果">
                    <el-input v-model="盲盒生成器的数据.生成结果" :autosize="{ minRows: 3, maxRows: 5 }" type="textarea"
                        placeholder="" />
                </el-form-item>

            </el-form>
            <template #footer>
                <div class="dialog-footer">
                    <el-button @click="盲盒生成器对话框 = false">取消</el-button>
                    <el-button type="primary" @click="生成盲盒数据()">
                        生成
                    </el-button>
                    <!-- <el-button type="danger" @click="生成盲盒的数据 = false">
                        插入当前地图
                    </el-button> -->
                    <el-button type="danger" @click="将文本保存成本地文件(盲盒生成器的数据.生成结果, 'manghe.rules.ini')">
                        将结果另存为独立文件
                    </el-button>
                </div>
            </template>
        </el-dialog>



    </div>



    <div style="display: none;">
        [global]
    </div>

    <script src="./assets/script/index.js"></script>
</body>

</html>